<div id="title">Trail Conditions</div>

<ul class="grid">
  <% @trails.each do |t| %>
  <li>
      <div>
          <h4><%= t.name %></h4>&nbsp;-&nbsp;
          <span class="condition"><%= t.condition %></span>  
          <hr> 
          <p><%= t.desc %></p>
          <p><%= t.date.strftime("Posted: %m/%d/%Y at %I:%M%p") %>

      </div>
    </li> 
  <% end %>
  <li>
      <div>
        <h4>Site created by:</h4> <br> Ben Singer <br><br>
        <h4>Data scraped from and owned by:</h4> <br> <%= link_to "MORCMTB", "http://www.morcmtb.org/" %> <br><br>
      </div>
  </li> 
</ul>
